<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PentÉTS</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding-top: 70px;
      }

      .summary {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 0.5em;
        color: #3b3c40;
        border-left: 5px solid #558abb;
        background-color: rgb(221,228,233);
      }
        .summary h1, h2, h3 {
          color: #217AC0;
        }

      .ruleset {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-bottom: 0.5em;
        color: #3b3c40;
        border-left: 5px solid rgb(230,230,230);
        background-color: rgb(245,245,245);
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">PentÉTS</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Résultat de l'analyse</span></a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        {% if succeded_rulesets|length is greaterthan 0 %}
          <div class="alert alert-success col-10 offset-1" role="alert">
            <h4 class="alert-heading">Succès!</h4>
            <p>La détection du CMS a été une réussite!</p>
          </div>
        {% else %}
          <div class="alert alert-danger col-10 offset-1" role="alert">
            <h4 class="alert-heading">Échec.</h4>
            <p>L'analyse a été infructueuse. Aucun CMS n'a été détecté.</p>
          </div>
        {% endif %}
      </div>
      <div class="row">
        <main class="col-10 offset-1 summary">
          <h3>Sommaire</h3>
          <ul>
            <!-- <li>Temps d'exécution:</li>
            <li>Nombre de requête externe réalisées:</li> -->
            <li>{{ targets|length }} cibles analysés.</li>
            <li>{{ succeded_rulesets|length }} règles fructueuses.</li>
          </ul>

          <h3>Information sur le client HTTP</h3>
          <ul>
            <li>Proxy: {{ curl_client.proxy or "N/A" }}</li>
            <li>User-Agent: {{ curl_client.user_agent or "N/A" }}</li>
          </ul>
        </main>
      </div>
      <div class="row">
        {% set offseter = cycler('offset-1', '') %}
        {% for target, ruleset in succeded_rulesets %}
          <main class="col-5 {{ offseter.next() }} ruleset">
            <h3>Cible: <a href="{{target}}">{{ target }}</a></h3>
            <p>
              <a href="{{ ruleset.document.website }}">CMS: {{ ruleset.document.name }}</a><br>
              {% if ruleset.document.resources %}
                <small><a href="{{ ruleset.document.resources }}">Resources additionnelles</a></small><br>
              {% endif %}
              Match passif(s): {{ ruleset.passive_matches|length }}<br>
              <ul>
                {% for passive in ruleset.passive_matches %}
                  <li>✓ {{ passive }}</li>
                {% endfor %}
              </ul>
              Match actif(s): {{ ruleset.active_matches|length }}<br>
              <ul>
                {% for active in ruleset.active_matches %}
                  <li>✓ {{ active.path }} -- {{ active.desc}}</li>
                {% endfor %}
              </ul>
            </p>
          </main>
        {% endfor %}
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
  </body>
</html>
